<div class="about-banner">
  <div class="container text-center py-5 text-white">
    <h1>Biz kimmiz ?</h1>
    <p>Hozirgi kunda ko'pchilik o'z biznesini boshlamoqda lekin uni qanday
      yuritishni hamda unda qanday loyihalar tuzushni bilmaydi.Shu maqsadda biz
      yangi biznes boshlagan xar bir shaxs uchun o'z yordamimizni
      ko'rsatmoqchimisz va insonlarning ish bilan bog'liq kelajakda ham yechim topishga intilmoqchimiz.Eng
      oxirida shuni aytmoqchimanki barcha biznesmenlar uchun bu juda ham foydali
      bo'ladi.Hamda, ishsiz aholi bu saytdan o'zlariga ma'qul ish topib' kompaniyalar bilan bog'lanishlari mumkin. Agar o'zingiz nima ish qilishni yoki qaysi yo'nalishni tanlashni bilmasangiz unda bizning testimizdan o'ting va sizga ma'qul ish nimaligini biling. </p>
  </div>
</div>

<div class="about_content">
  <div class="container">
    <div class="row py-5">
      <div class="col-md-6">
        <h3>Bizning Vazifamiz ?</h3>
        <p>Ko'pchilikning orzusi bu o'z biznesi kelajak uchun foyda keltirish va
          ko'proq foyda olish.Biz szga jamoamiz bilan qanday yordam beramiz ?
          Albatta bu savol hammada bo'ladi.Biz birgalikda szga qaysi yo'nalish
          maqul kelishini hamda,qay holatda o'z biznesingzni faol tarzda olib
          borishga yordam beramiz.Va barchani qiynagan savvolar uchun ham birgalikda yechim topishga xarakat qilamiz.
        </p>
      </div>
      <div class="col-md-6">
        <img src="img/1-456x456.jpg" class="img-fluid rounded-circle about-img" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="about-icons">
  <div class="container text-center text-white">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card bg-danger p-4">
          <i class="fas fa-building fa-3x"></i>
          <h3>Qonun Ustuvorligi</h3>
          <p class="m-0">Chet el investitsiyalari ishtirokidagi korxonalar bo'lgan tadbirkorlik faoliyati subyektlari
            huquqlarining kafolatlari va ushbu huquqlarni himoya qilish choralari bilan bog'liq munosabatlar ko'rib
            chiqiladi.</p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card bg-dark p-4">
          <i class="fas fa-bullhorn fa-3x"></i>
          <h3>Namuna</h3>
          <p class="m-0">Ushbu Qonunning asosiy vazifalari fuqarolarning tadbirkorlik faoliyatida erkin ishtirok etishi
            va undan manfaatdor bo'lishi uchun kafolatlar hamda sharoitlar yaratishdan, ularning ishchanlik faolligini oshirishdan iborat.
    
        
          </p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card bg-danger p-4">
          <i class="fas fa-comments fa-3x"></i>
          <h3>Savol yoki taklif</h3>
          <p class="m-0"> Biz ko'proq qaysi muamolarga e'tibor berish kerak ? hamda uning yechimlarni qaysi sohalarda
            ko'rishimiz kerak ?
          </p>
        </div>
      </div>
    </div>
  </div>