<div class="about-banner">
  <div class="container text-center py-5 text-white">
    <h1>Bo'glanish Uchun</h1>
  </div>
</div>

<div class="contact-info bg-dark text-white">
  <div class="row">
    <div class="col-md-4 offset-md-2">
      <div class="icon-boxes my-5 d-flex">
        <i class="fas fa-truck fa-2x bg-danger p-3 mr-3"></i>
        <h3>Trucking Shipping <br /> Services</h3>
      </div>
      <div class="icon-boxes my-5 d-flex">
        <i class="fas fa-truck fa-2x bg-danger p-3 mr-3"></i>
        <h3>Trucking Shipping <br /> Services</h3>
      </div>
      <div class="icon-boxes my-5 d-flex">
        <i class="fas fa-truck fa-2x bg-danger p-3 mr-3"></i>
        <h3>Trucking Shipping <br /> Services</h3>
      </div>
    </div>
    <div class="col-md-6">
      <img src="img/media.jpg" class="img-fluid" alt="" />
    </div>
  </div>
</div>

<div class="contact-form my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body p-3">
            <h4>Address</h4>
            <p>123 Main St</p>
            <h4>Email</h4>
            <p>admin@citytech.uz</p>
            <h4>Phone</h4>
            <p>+998 90 020 0518</p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card p-3">
          <div class="card-body">
            <h3 class="text-center">Please fill out the form contact us</h3>
            <hr />
            <div class="row mb-3">
              <div class="col-md-6">
                <input type="text" class="form-control" />
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <input type="text" class="form-control" />
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <textarea class="form-control"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <a href="#" class="btn btn-outline-danger btn-block">Submit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
