<!-- SHOWCASE SLIDER -->
<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item carousel-image-1 active">
      <div class="container">
        <div class="carousel-caption d-none d-sm-block text-right mb-5">
          <h1 class="display-3">INDUSTRY.uz</h1>
          <p class="lead"></p>
          <a href="#" class="btn btn-danger btn-lg">Sign Up Now</a>
        </div>
      </div>
    </div>
    <div class="carousel-item carousel-image-2">
      <div class="container">
        <div class="carousel-caption d-none d-sm-block mb-5">
          <h1 class="display-3">Heading Two</h1>
          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, aperiam vel ullam
            deleniti reiciendis ratione quod aliquid inventore vero perspiciatis.</p>
          <a href="#" class="btn btn-primary btn-lg">Learn More</a>
        </div>
      </div>
    </div>
    <div class="carousel-item carousel-image-3">
      <div class="container">
        <div class="carousel-caption d-none d-sm-block mb-5">
          <h1 class="display-3">Heading Three</h1>
          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, aperiam vel ullam
            deleniti reiciendis ratione quod aliquid inventore vero perspiciatis.</p>
          <a href="#" class="btn btn-success btn-lg">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<div id="home-icons" class="my-5 text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="fas fa-cog fa-3x mb-3"></i>
        <h3>Xislatlar</h3>
        <p>Saytimizning oddiyligi , ma'qulligi va kerakli xislatlarinig ko'pligi </p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-cloud fa-3x mb-3"></i>
        <h3>Darajangizga qarab, darslar ko'ring.</h3>
        <p>Kompamiyalar, sheriklarimiz tomondan ko'rsatiladigan online va offline darslarimiz.</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-cart-plus fa-3x mb-3"></i>
        <h3>Pul topish</h3>
        <p>Albatta bizning sayt orqali ish topsangiz, daromadad topishni ham boshlashingiz mumkin.</p>
      </div>
    </div>
  </div>
</div>

<div id="bg-box" class="text-center text-white">
  <div class="dark-overlay py-5">
    <div class="container">
      <h1>Siz xali ham qo'shilamdingizmi ?</h1>
      <p>Hoziroq testdan o'ting va bizga qo'shiling !
      </p>
    </div>
  </div>
</div>

<div id="about_us">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center">
        <h3>About Us</h3>
        <p>Biz haqimizda yanda ko'proq bilmoqchi bo'lsangiz, shu postning tagidagi sahifaga kiring yoki biz bilan
          bog'laning.</p>
        <div class="btn btn-outline-danger">Ko'proq ma'lumot.</div>
      </div>
      <div class="col-md-6">
        <img src="img/laptop.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</div>

<div id="what-we-do" class="text-white text-center">
  <div class="dark-overlay py-5">
    <i class="fas fa-play fa-5x"></i>
    <h3>See What We Do?</h3>
  </div>
</div>


<div class="col-md-6 skills-bar m-auto">
  <b class="">
    <h2>O'zbekistondagi odamlarning bandlik statistikasi.</h2>
  </b>
  <p>2019 yilning Toshkentdagi bandlik ko'rsatgichi</p>
  <div class="progress">
    <div class="progress-bar" style="width:68%">68%</div>
  </div>
  <p>2020 yilning Toshkentdagi bandlik ko'rsatgichi</p>
  <div class="progress">
    <div class="progress-bar" style="width:66%">66% </div>
  </div>
  <p>2021 yilning Toshkentdagi bandlik ko'rsatgichi</p>
  <div class="progress">
    <div class="progress-bar" style="width:67%">67%</div>
  </div>
  <p>2022 yilning Toshkentdagi bandlik ko'rsatgichi</p>
  <div class="progress">
    <div class="progress-bar" style="width:68%">68%</div>
  </div>
  <h3>fsfas</h3>
</div>
{{!-- <div id="gellery" class="mb-5">
  <div class="container">
    <div class="row text-center mt-5">
      <div class="col">
        <h1>Photo Gallery</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, ducimus.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="img/carousel1.jpg" class="img-fluid mt-5" alt="">
      </div>
      <div class="col-md-4">
        <img src="img/carousel2.jpg" class="img-fluid mt-5" alt="">
      </div>
      <div class="col-md-4">
        <img src="img/carousel3.jpg" class="img-fluid mt-5" alt="">
      </div>
      <div class="col-md-4">
        <img src="img/carousel4.jpg" class="img-fluid mt-5" alt="">
      </div>
      <div class="col-md-4">
        <img src="img/carousel5.jpeg" class="img-fluid mt-5" alt="">
      </div>
      <div class="col-md-4">
        <img src="img/carousel5.jpg" class="img-fluid mt-5" alt="">
      </div>
    </div>
  </div>
</div> --}}