<div class="about-banner">
  <div class="container text-center py-5 text-white">
    <h1>KASB TURLARI </h1>
    <p><br> KASBLAR HAQIDAGI MA'LUMOTLARNI BILISH UCHUN RASM USTIGA BOSING !</p>
  </div>
</div>


<div class="services-section my-5">
  <div class="container">
    <div class="row ">
      <div class="col-md-4 mb-3">
        <img src="img/photo_2023-01-29_12-13-51.jpg" class="img-fluid" alt="">
        <a href="#">Oshpaz</a>
      </div>
      <div class="col-md-4 mb-3">
        <img src="img/photo_2023-01-29_12-13-56.jpg" class="img-fluid" alt="">
        <a href="#">O'qituvchi</a>
      </div>
      <div class="col-md-4 mb-3">
        <img src="img/photo_2023-01-29_12-14-04.jpg" class="img-fluid" alt="">
        <a href="#">Fermer</a>
      </div>
      <div class="col-md-4">
        <img src="img/photo_2022-11-26_23-20-48.jpg" class="img-fluid" alt="">
        <a href="#">Barber</a>
      </div>
      <div class="col-md-4">
        <img src="img/photo_2023-01-28_16-26-18.jpg" class="img-fluid" alt="">
        <a href="#">Muhandis</a>
      </div>
      <div class="col-md-4">
        <img src="img/photo_2023-01-28_16-31-02.jpg" class="img-fluid" alt="">
        <a href="#">Arxitektor</a>
      </div>
    </div>
  </div>
</div>
</div>
</div>