<script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
<div class="container mtt mt-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="card p-4 mb-5">
                {{#if posters}}
                <form action="/blog/{{posters._id}}/edit" method="POST">
                    <div class="mb-3">
                        <label for="title" class="form-label">E'lon sarlavhasi</label>
                        <input type="text" class="form-control" placeholder="Noutbuk Acer" id="title" name="title"
                            value="{{posters.title}}">
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Rasm tanlang</label>
                        <input class="form-control" type="text" id="image" name="image" value="{{posters.image}}">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Tarif</label>
                        <textarea name="description" id="description">{{posters.description}}</textarea>

                        <script>
                            CKEDITOR.replace('description');
                        </script>
                    </div>
                    <div class="d-grid gap-2 mb-5">
                        <button type="submit" class="btn btn-primary">O'zgartirish</button>
                    </div>
            </div>
        </div>
        </form>
        {{/if}}
    </div>
</div>
</div>
</div>